/* =======================================
   BASE HERO STYLES
======================================= */
@reference "tailwindcss";
@import "@dealers-dir/style.css";

.hero {
  @apply relative w-full min-h-screen overflow-hidden z-0 text-white
         max-[930px]:flex max-[930px]:flex-col max-[930px]:items-center 
         max-[930px]:justify-center max-[930px]:min-h-[90vh];
}

.hero-bg {
  @apply absolute inset-0 w-full h-full object-cover brightness-50;
}

.hero-content {
  @apply z-10
         max-[930px]:flex max-[930px]:flex-col max-[930px]:items-center 
         max-[930px]:justify-center max-[930px]:h-full max-[930px]:px-6 
         max-[930px]:md:px-10 max-[930px]:text-center max-[930px]:gap-4;
}

.hero-text {
  @apply max-w-2xl
         max-[930px]:text-center max-[930px]:max-w-full max-[930px]:px-4;
}

.hero-title {
  @apply text-4xl md:text-5xl lg:text-6xl font-bold leading-tight drop-shadow-md
         max-[930px]:text-5xl max-[930px]:md:text-4xl max-[930px]:lg:text-5xl;
}

.hero-subtitle {
  @apply text-base md:text-lg lg:text-xl mt-3 mb-8 text-gray-200
         max-[930px]:text-xl max-[930px]:md:text-base max-[930px]:lg:text-lg;
}

.hero-filter__wrapper {
  @apply w-7xl max-[1340px]:w-6xl max-[1175px]:w-5xl max-[1040px]:w-5xl
         max-[930px]:hidden;
}

.hero-filter__wrapper-mobile {
  @apply md:hidden relative z-20 w-full -mt-30;
}
