@import "./base.module.css";

/* =======================================
   HORIZONTAL HERO (DESKTOP)
======================================= */
/* @media (min-width: 769px) { */
  .hero {
    @apply flex items-center justify-center;
  }

  .hero-content {
    @apply flex flex-col items-center justify-center text-center w-full h-full relative z-10;
  }
/* } */
