/* ===== Filter Card (Modern Style) ===== */
@reference "tailwindcss";
@import "@dealers-dir/style.css";

.filter-card {
  @apply relative rounded-2xl overflow-hidden 
         w-full h-full
         transition-all duration-300;
}

.filter-card img {
  @apply w-full h-50 md:h-full object-cover rounded-2xl
         transition-transform duration-500 ease-in-out 
         group-hover:scale-110 group-hover:brightness-90;
}

/* .filter-card::before {
  content: "";
  @apply absolute inset-0 bg-linear-to-t 
         from-black/60 via-black/25 to-transparent 
         pointer-events-none;
} */

.filter-card-title {
  @apply absolute top-3 left-3 text-white 
         text-sm font-semibold 
         bg-black/50 backdrop-blur-sm px-3 py-1.5 rounded-md 
         transition-all duration-300 ease-in-out 
         group-hover:bg-black/70;
}
