/* ===== Filter Card (Modern Style) ===== */
@reference "tailwindcss";
@import "@dealers-dir/style.css";

.filter-card {
  @apply relative md:p-2 rounded-2xl w-full h-full transition-all duration-300 brightness-95 hover:brightness-110;
}

.filter-card img {
  @apply w-full h-50 md:h-full object-cover rounded-2xl
         transition-transform duration-500 ease-in-out;
}

.filter-card:hover img {
  @apply scale-95;
}

.filter-card-title {
  @apply text-gray-700 
         text-[10px] md:text-xs font-semibold 
         border border-primary bg-transparent text-primary backdrop-blur-sm px-3 py-1.5 rounded-md 
         transition-all duration-300 ease-in-out;
}

.filter-card:hover .filter-card-title  {
  @apply top-1.5 left-2 md:left-1.5 border-none bg-primary text-white rounded-none rounded-tl-2xl rounded-br-lg;
}
