/* ===== Filter Card (Simple Style) ===== */
@reference "tailwindcss";
@import "@dealers-dir/style.css";

.filter-card {
  @apply bg-white border border-gray-200 
         rounded-2xl w-full h-50 flex flex-col items-center 
         justify-center cursor-pointer 
         transition-all duration-300 hover:border-primary hover:scale-95;
}

/* ===== Image Type ===== */
.filter-card img {
  @apply size-36 object-contain transition-all duration-300;
}

.filter-card:hover img {
  @apply size-34;
}

/* ===== Icon Type Wrapper ===== */
.filter-card-icon {
  @apply h-14 w-14 rounded-full mb-4 
         flex items-center justify-center;
}

/* ===== Card Label / Title ===== */
.filter-card-title {
  @apply text-sm font-semibold text-basicFont transition-all duration-300;
}

.filter-card:hover .filter-card-title {
  @apply text-primary text-lg;
}
