/* ================================
   CarCard Base Styles
================================ */
@reference "tailwindcss";
@import "@dealers-dir/style.css";

/* Root card */
.car-card {
  @apply w-auto h-full pb-4 rounded-2xl border border-gray-200 bg-white 
         transition-all duration-300 ease-in-out relative shadow-2xl md:shadow-md;
}

/* Image wrapper */
.car-card__image-wrapper {
  @apply relative overflow-hidden aspect-4/3 ;
}

.car-card__img {
  @apply w-full h-full object-cover object-center rounded-t-2xl 
         transition-all duration-500 ease-in-out hover:scale-105;
}

.car-card__reserved {
  @apply absolute top-3 left-3 bg-neutral-700/70 
         text-white text-xs md:text-sm 
         font-medium px-2.5 sm:px-3 py-1.5 rounded-full;
}

/* Year badge */
.car-card__year {
  @apply absolute top-3 right-3 bg-white/90 
         text-primary text-xs md:text-sm 
         font-bold px-2.5 sm:px-3 py-1.5 rounded-full;
}

/* Content wrapper */
.car-card__content {
  @apply p-4 md:h-50 space-y-4;
}

.car-card__title {
  @apply text-base sm:text-lg md:text-xl font-semibold line-clamp-1;
}

.car-card__subtitle {
  @apply text-xs md:text-sm text-gray-600 line-clamp-1;
}

.car-card__price-wrapper {
  @apply grid grid-cols-2 gap-2 justify-between items-center text-lg md:text-xl text-basicFont text-center;
}

.car-card__price-total {
  @apply font-medium;
}

.car-card__price-estimated-block {
  @apply border-r-2 border-gray-200;
}

.car-card__price-estimated {
  @apply font-bold text-2xl text-primary;
}

.car-card__price-note {
  @apply text-xs text-gray-500;
}

/* Specs grid */
.car-card__specs {
  @apply grid grid-cols-3 gap-2 text-xs justify-between;
}

.car-card__spec {
  @apply bg-linear-to-br from-white to-gray-50 rounded-lg border border-gray-200 text-[10px] md:text-xs  flex flex-col items-center text-center gap-1 py-2;
}

.car-card__spec-label {
  @apply text-gray-500;
}

.car-card__spec-value {
  @apply font-semibold;
}

/* Overlay Container */
.car-card__actions {
  @apply absolute inset-0 flex flex-col justify-end gap-1 
         px-4 pb-4 rounded-2xl transition-opacity duration-300
         bg-linear-to-t from-primary/70 via-primary/5 to-transparent z-10;
}

.view-car__buttons-wrapper {
  @apply flex gap-1;
}

/* Buttons inside overlay */
.view-car__buttons-wrapper button,
.car-card__actions > button {
  @apply bg-white/80 backdrop-blur-3xl
         rounded-xl transition-all duration-300
         border border-white/50 hover:border-primary;
}

/* .car-card__actions > button {
  @apply border border-white/50 hover:border-primary;
} */

.view-car__button {
  @apply grow;
}

/* Footer */
.car-card__footer {
  @apply flex px-4 md:px-5 mt-3 pt-2 md:pt-3 border-t border-gray-200 
          justify-center text-[10px] md:text-xs text-gray-600;
}
