/* ===============================
   TRUSTED PARTNER SECTION STYLES
================================ */
@reference "tailwindcss";
@import "@dealers-dir/style.css";

.trusted-partner-wrapper {
  @apply overflow-hidden relative mb-12;
}

.trusted-partner-container {
  @apply flex flex-wrap justify-center w-full items-center gap-8;
}

.trusted-partner-card {
  @apply flex items-center justify-center w-auto min-w-45 px-10
         h-[85px] sm:h-[95px] md:h-[105px]
         rounded-full
         hover:bg-primary/10
         transition-all duration-500 
         ease-out
         cursor-pointer
         relative
         shrink-0;
}

.trusted-partner-card__image {
  @apply object-contain max-h-[55px] sm:max-h-[65px] md:max-h-[75px]
         w-auto mx-auto transition-all duration-500 ease-out
         relative z-10 hover:scale-110;
}
