/* =======================================
   BASE FILTER
======================================= */
@reference "tailwindcss";
@import "@dealers-dir/style.css";

.filter-container {
  @apply relative w-full;
}

.filter-box {
  @apply flex gap-3 bg-white backdrop-blur-md rounded-2xl p-4 md:p-5 shadow-md;
}

/* =======================================
   RESPONSIVE FIXES
======================================= */
@media (max-width: 768px) {
  .filter-box {
    @apply flex-col items-stretch gap-3;
  }
}
