@import "./base.module.css";

/* =======================================
   HORIZONTAL FILTER (desktop)
======================================= */
.filter-box {
  @apply flex-col md:flex-row items-stretch md:items-center gap-3 justify-center;
}

.filter-box > * {
  @apply grow;
}
