@import "./base.module.css";

/* =======================================
   HORIZONTAL FILTER (desktop)
======================================= */
.filter-box {
  @apply flex-col lg:flex-row items-stretch md:items-center shadow-2xl md:shadow-none gap-3 justify-center;
}

.filter-box > * {
  @apply grow;
}
