@import "./base.module.css";

.right-choice-card {
  @apply bg-linear-to-br from-gray-900/20 via-gray-900/40 to-gray-900;
  @apply hover:shadow-white/10;
}

.right-choice-card__title {
  @apply text-white/80;
}

.right-choice-card__description {
  @apply text-white/40;
}
