@import "@app-layout-dir/styles/grid-layout/grid-layout.base.css";
@import "@elements-dir/Dropdown/css/dropdown.one.css";
@import "@elements-dir/Button/css/button.one.css";
@import "@components-dir/tooltip/css/tooltip.dark.css";
@import "@components-dir/floating-buttons/css/floating-buttons.css";

@theme {
  --color-primary: oklch(66.6% 0.179 58.318);
  --color-body: oklch(98.5% 0.002 247.839);
  --color-basicFont: oklch(37.3% 0.034 259.733);
}

@layer base {
  body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PolySans-Bulky", Arial, sans-serif;
}
*/
