@import "tailwindcss";
@import "@dealers-dir/style.css";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Scrollbar styles */
::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
